#####
#
# Systemd Service file for `privex/looking-glass`
#
# To use this file, copy it into /etc/systemd/system/lg-queue.service , replace LGUSER with the username of the Linux
# account it was installed into, and adjust the paths if necessary.
#
# Once adjusted for your specific installation, run the following:
#
#    systemctl enable lg-queue.service
#    systemctl start lg-queue.service
#
# lg-queue will now have started in the background as a systemd service, and will automatically start on reboot
#
#####
[Unit]
Description=Privex Network Looking Glass - Queue Loader
After=network.target

[Service]
Type=simple
User=LGUSER

WorkingDirectory=/home/LGUSER/looking-glass/
EnvironmentFile=/home/LGUSER/looking-glass/.env

ExecStart=/home/LGUSER/looking-glass/venv/bin/python3.7 \
            /home/LGUSER/looking-glass/manage.py queue

Restart=always
Environment=PYTHONUNBUFFERED=0
RestartSec=30
StandardOutput=syslog

# Hardening measures
####################

# Provide a private /tmp and /var/tmp.
PrivateTmp=true

# Mount /usr, /boot/ and /etc read-only for the process.
ProtectSystem=full

[Install]
WantedBy=multi-user.target

#####
# +===================================================+
# |                 © 2019 Privex Inc.                |
# |               https://www.privex.io               |
# +===================================================+
# |                                                   |
# |        Privex Looking Glass                       |
# |        License: GNU AGPL v3                       |
# |                                                   |
# |        https://github.com/Privex/looking-glass    |
# |                                                   |
# |        Core Developer(s):                         |
# |                                                   |
# |          (+)  Chris (@someguy123) [Privex]        |
# |                                                   |
# +===================================================+
#####
