<!DOCTYPE html>
<html>
<head>
    <title>Looking Glass | Privex</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <style>
        #app .mainbox {
            padding: 3em;
            margin: 30px 30px 0 0;
        }

        #results_segment {
            min-height: 400px;
        }
    </style>
</head>
<body>
    <div class="ui container" id="app">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>